<a href="https://colab.research.google.com/github/sahilkumar0511/Superstore_Sales_Prediction/blob/main/Superstore_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
import numpy as np
import pandas as pd

In [95]:
df = pd.read_csv('Superstore.csv', encoding = 'windows-1252')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,02/01/2014,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,03/01/2014,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,03/01/2014,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,03/01/2014,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,03/01/2014,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,9/30/2017,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,9/30/2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,9/30/2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,9/30/2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,9/30/2017,05-09-2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [97]:
df = df.drop(['Row ID', 'Country', 'Product ID', 'Product Name', 'Order ID', 'Customer Name','Customer ID'], axis = 1)
df

,Order Date,Ship Date,Ship Mode,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,02/01/2014,11-11-2016,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,03/01/2014,11-11-2016,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,03/01/2014,6/16/2016,Second Class,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,03/01/2014,10/18/2015,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,03/01/2014,10/18/2015,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9/30/2017,1/23/2014,Second Class,Consumer,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,9/30/2017,03-03-2017,Standard Class,Consumer,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,9/30/2017,03-03-2017,Standard Class,Consumer,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,9/30/2017,03-03-2017,Standard Class,Consumer,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,9/30/2017,05-09-2017,Second Class,Consumer,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [98]:
def encode_dates(df, column):
    df = df.copy()
    df[column] = pd.to_datetime(df[column])
    df[column + '_year'] = df[column].apply(lambda x: x.year)
    df[column + '_month'] = df[column].apply(lambda x: x.month)
    df[column + '_day'] = df[column].apply(lambda x: x.day)
    df = df.drop(column, axis=1)
    return df

def onehot_encode(df, column):
    df = df.copy()
    dummies = pd.get_dummies(df[column], prefix=column)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop(column, axis=1)
    return df

In [99]:
df = encode_dates(df, column='Order Date')
df = encode_dates(df, column='Ship Date')

/usr/local/lib/python3.9/dist-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/01/2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/usr/local/lib/python3.9/dist-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/01/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/usr/local/lib/python3.9/dist-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/01/2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

In [100]:
df

,Ship Mode,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Order Date_year,Order Date_month,Order Date_day,Ship Date_year,Ship Date_month,Ship Date_day
0,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136,2014,2,1,2016,11,11
1,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820,2014,3,1,2016,11,11
2,Second Class,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714,2014,3,1,2016,6,16
3,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310,2014,3,1,2015,10,18
4,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164,2014,3,1,2015,10,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028,2017,9,30,2014,1,23
9990,Standard Class,Consumer,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332,2017,9,30,2017,3,3
9991,Standard Class,Consumer,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932,2017,9,30,2017,3,3
9992,Standard Class,Consumer,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200,2017,9,30,2017,3,3
9993,Second Class,Consumer,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480,2017,9,30,2017,5,9

In [101]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [102]:
df.columns

Index(['Ship Mode', 'Segment', 'City', 'State', 'Postal Code', 'Region',
       'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Order Date_year', 'Order Date_month', 'Order Date_day',
       'Ship Date_year', 'Ship Date_month', 'Ship Date_day'],
      dtype='object')

In [103]:
for column in ['Ship Mode','Segment','City','State','Postal Code','Region','Category','Sub-Category']:
  df = onehot_encode(df, column=column)

In [104]:
df

,Sales,Quantity,Discount,Profit,Order Date_year,Order Date_month,Order Date_day,Ship Date_year,Ship Date_month,Ship Date_day,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
0,261.9600,2,0.00,41.9136,2014,2,1,2016,11,11,...,0,0,0,0,0,0,0,0,0,0
1,731.9400,3,0.00,219.5820,2014,3,1,2016,11,11,...,0,0,0,0,0,0,0,0,0,0
2,14.6200,2,0.00,6.8714,2014,3,1,2016,6,16,...,0,0,0,1,0,0,0,0,0,0
3,957.5775,5,0.45,-383.0310,2014,3,1,2015,10,18,...,0,0,0,0,0,0,0,0,0,1
4,22.3680,2,0.20,2.5164,2014,3,1,2015,10,18,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,25.2480,3,0.20,4.1028,2017,9,30,2014,1,23,...,0,0,1,0,0,0,0,0,0,0
9990,91.9600,2,0.00,15.6332,2017,9,30,2017,3,3,...,0,0,1,0,0,0,0,0,0,0
9991,258.5760,2,0.20,19.3932,2017,9,30,2017,3,3,...,0,0,0,0,0,0,1,0,0,0
9992,29.6000,4,0.00,13.3200,2017,9,30,2017,3,3,...,0,0,0,0,0,1,0,0,0,0
9993,243.1600,2,0.00,72.9480,2017,9,30,2017,5,9,...,0,0,0,0,0,0,0,0,0,0

In [105]:
X = df.drop('Sales', axis=1)
Y = df['Sales']

In [106]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.2, random_state=4)
X_train.shape

(7995, 1251)

In [107]:
X_train.describe()

,Quantity,Discount,Profit,Order Date_year,Order Date_month,Order Date_day,Ship Date_year,Ship Date_month,Ship Date_day,Ship Mode_First Class,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
count,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,...,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000,7995.000000
mean,3.808380,0.156503,28.570204,2015.723577,7.779612,15.383990,2015.744966,7.721701,15.972483,0.153096,...,0.025016,0.021013,0.093558,0.036023,0.012008,0.140838,0.087555,0.082927,0.018887,0.033146
std,2.238037,0.206574,229.553088,1.125428,3.298123,8.729823,1.122082,3.350581,8.821670,0.360102,...,0.156182,0.143437,0.291232,0.186358,0.108926,0.347876,0.282664,0.275789,0.136134,0.179028
min,1.000000,0.000000,-6599.978000,2014.000000,1.000000,1.000000,2014.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,1.799750,2015.000000,5.000000,8.000000,2015.000000,5.000000,8.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,0.200000,8.685500,2016.000000,9.000000,15.000000,2016.000000,9.000000,16.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,0.200000,28.796400,2017.000000,11.000000,23.000000,2017.000000,11.000000,24.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,14.000000,0.800000,6719.980800,2017.000000,12.000000,31.000000,2018.000000,12.000000,31.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [108]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train), columns= X.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)

In [109]:
X_train.describe()

,Quantity,Discount,Profit,Order Date_year,Order Date_month,Order Date_day,Ship Date_year,Ship Date_month,Ship Date_day,Ship Mode_First Class,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
count,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,...,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03,7.995000e+03
mean,3.777119e-17,-1.066481e-17,1.710813e-17,-2.137272e-14,-9.420579e-17,-1.777468e-18,5.818363e-14,6.398884e-17,-7.554238e-17,5.465713e-17,...,5.154656e-17,-4.443669e-17,7.998605e-18,-3.999302e-17,-4.443669e-19,2.132961e-17,-3.110569e-18,-6.176700e-17,2.932822e-17,1.333101e-18
std,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,...,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00,1.000063e+00
min,-1.254919e+00,-7.576602e-01,-2.887769e+01,-1.531582e+00,-2.055725e+00,-1.647787e+00,-1.555212e+00,-2.006255e+00,-1.697345e+00,-4.251717e-01,...,-1.601795e-01,-1.465065e-01,-3.212711e-01,-1.933097e-01,-1.102426e-01,-4.048764e-01,-3.097679e-01,-3.007084e-01,-1.387457e-01,-1.851540e-01
25%,-8.080711e-01,-7.576602e-01,-1.166272e-01,-6.429754e-01,-8.428387e-01,-8.458880e-01,-6.639554e-01,-8.123580e-01,-9.037950e-01,-4.251717e-01,...,-1.601795e-01,-1.465065e-01,-3.212711e-01,-1.933097e-01,-1.102426e-01,-4.048764e-01,-3.097679e-01,-3.007084e-01,-1.387457e-01,-1.851540e-01
50%,-3.612231e-01,2.105782e-01,-8.662897e-02,2.456310e-01,3.700480e-01,-4.398875e-02,2.273010e-01,3.815395e-01,3.119468e-03,-4.251717e-01,...,-1.601795e-01,-1.465065e-01,-3.212711e-01,-1.933097e-01,-1.102426e-01,-4.048764e-01,-3.097679e-01,-3.007084e-01,-1.387457e-01,-1.851540e-01
75%,5.324729e-01,2.105782e-01,9.854379e-04,1.134237e+00,9.764914e-01,8.724675e-01,1.118557e+00,9.784882e-01,9.100340e-01,-4.251717e-01,...,-1.601795e-01,-1.465065e-01,-3.212711e-01,-1.933097e-01,-1.102426e-01,-4.048764e-01,-3.097679e-01,-3.007084e-01,-1.387457e-01,-1.851540e-01
max,4.554105e+00,3.115294e+00,2.915155e+01,1.134237e+00,1.279713e+00,1.788924e+00,2.009814e+00,1.276963e+00,1.703584e+00,2.351991e+00,...,6.242996e+00,6.825634e+00,3.112636e+00,5.173047e+00,9.070901e+00,2.469890e+00,3.228224e+00,3.325481e+00,7.207428e+00,5.400908e+00

In [110]:
import tensorflow as tf
from keras.layers import Dense
inputs = tf.keras.Input(shape =(X_train.shape[1],))
x = tf.keras.layers.Dense(64, activation='relu')(inputs)
x = tf.keras.layers.Dense(1251, activation='relu')(x)
outputs = tf.keras.layers.Dense(1, activation='linear')(x)

model = tf.keras.Model(inputs=inputs, outputs=outputs)
print(model.summary())

Model: "model_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_9 (InputLayer)        [(None, 1251)]            0

 dense_24 (Dense)            (None, 64)                80128

 dense_25 (Dense)            (None, 1251)              81315

 dense_26 (Dense)            (None, 1)                 1252

=================================================================
Total params: 162,695
Trainable params: 162,695
Non-trainable params: 0
_________________________________________________________________
None

In [111]:
model.compile(optimizer='adam', loss='mse')
history = model.fit(
    X_train,
    Y_train,
    validation_data=(X_test,Y_test),
    batch_size=32,
    epochs=100,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor='val_loss',
            patience=5,
            restore_best_weights=True
        ),
        tf.keras.callbacks.ReduceLROnPlateau()
    ]
)

Epoch 1/100
250/250 [==============================] - 1s 4ms/step - loss: 362084.1250 - val_loss: 310575.7188 - lr: 0.0010
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 294708.2812 - val_loss: 255016.3438 - lr: 0.0010
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 271567.3125 - val_loss: 255530.2344 - lr: 0.0010
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 244486.2188 - val_loss: 214995.1406 - lr: 0.0010
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 218976.8750 - val_loss: 194923.5938 - lr: 0.0010
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 201684.4219 - val_loss: 174899.7969 - lr: 0.0010
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 187319.8438 - val_loss: 159213.2969 - lr: 0.0010
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 172695.2500 - val_loss: 145132.3594 - lr: 0.0010
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 158657.2344 - val_loss: 137824.0781 - lr: 0.0010
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 151843.3125 - val_loss: 132179.5781 - lr: 0.0010
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 144507.1562 - val_loss: 129158.5234 - lr: 0.0010
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 139037.6719 - val_loss: 120823.1562 - lr: 0.0010
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 134842.5156 - val_loss: 116067.4688 - lr: 0.0010
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 129696.6719 - val_loss: 118023.1797 - lr: 0.0010
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 125702.0312 - val_loss: 107382.1172 - lr: 0.0010
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 121442.8203 - val_loss: 107812.2891 - lr: 0.0010
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 117374.5469 - val_loss: 109306.3359 - lr: 0.0010
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 113712.2344 - val_loss: 106935.7188 - lr: 0.0010
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 110116.0000 - val_loss: 98164.6641 - lr: 0.0010
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 107762.4375 - val_loss: 103798.8281 - lr: 0.0010
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 104147.1797 - val_loss: 99654.5391 - lr: 0.0010
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 100224.9375 - val_loss: 93172.3594 - lr: 0.0010
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 97786.0312 - val_loss: 92594.6797 - lr: 0.0010
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 93029.7891 - val_loss: 94470.9531 - lr: 0.0010
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 90766.0234 - val_loss: 93039.7812 - lr: 0.0010
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 89856.5312 - val_loss: 96868.6016 - lr: 0.0010
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 85612.4062 - val_loss: 92502.5391 - lr: 0.0010
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 81482.7812 - val_loss: 88039.8516 - lr: 0.0010
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 79054.1484 - val_loss: 91674.5000 - lr: 0.0010
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 75733.2891 - val_loss: 87199.4453 - lr: 0.0010
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 73151.3906 - val_loss: 90175.5469 - lr: 0.0010
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 70197.1016 - val_loss: 84323.3438 - lr: 0.0010
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 67992.4766 - val_loss: 95975.7422 - lr: 0.0010
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 64683.4023 - val_loss: 91002.8516 - lr: 0.0010
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 62978.6211 - val_loss: 91783.5156 - lr: 0.0010
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 58170.1719 - val_loss: 109256.8594 - lr: 0.0010
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 58036.3594 - val_loss: 90247.1875 - lr: 0.0010

In [112]:
test_loss = model.evaluate(X_test,Y_test, verbose=0)
print("Test Loss: {:.5f}".format(test_loss))

Test Loss: 84323.34375

In [113]:
from sklearn.metrics import r2_score
y_pred = np.squeeze(model.predict(X_test))
test_r2 = r2_score(Y_test, y_pred)
print("Test R^2 Score: {:.5f}".format(test_r2))

63/63 [==============================] - 0s 2ms/step
Test R^2 Score: 0.78103